.profile-content {
  padding: 3.5rem;
  margin-bottom: 10rem;
}

.edit-header-text {
  margin: 2rem 0;
}

.grey-line {
  /* height: 1px; */
  border-bottom: 1px solid #dedede;
  margin: 2.5rem 0 1.5rem;
  border-radius: 1rem;
}

.save-profile-button:hover,
.cancel-profile-button:hover {
  transform: scale(1.05);
}

.cancel-profile-button:hover {
  color: #252525;
}

.input-edit-profile {
  width: 100%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid #252525;
  padding: 1rem;
}

.label-input-edit {
  margin-bottom: 0.8rem;
}

.input-row {
  margin: 1.8rem 0;
  margin-bottom: 0.5rem;
}

.save-profile-button {
  border: 1px solid #ff8700;
  border-radius: 1.5rem;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #ff8700;
}

.change-password-button {
  border: 1px solid #ff8700;
  border-radius: 1.5rem;
  width: 13rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #ff8700;
}

.save-profile-button-container {
  gap: 0.5rem;
  justify-content: end;
  display: flex;
}

.cancel-profile-button {
  width: 10rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  color: #808080;
}

.select-edit-profile {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
}

.input-upload-profile {
  padding: 1rem;
}

.input-change-password {
  width: 100%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid #252525;
  padding: 1rem;
  font-size: 1.8rem !important;
}

.error-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.readonly-input {
  padding: 1rem;
}
