.large-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  font-family: "Rubik", sans-serif;
}

.large-bold-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Rubik", sans-serif;
}

.large-medium-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Rubik", sans-serif;
}

.medium-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  font-family: "Rubik", sans-serif;
}

.small-extrabold-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
}

.small-bold-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
}

.small-medium-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
}

.small-bold-text {
}
